# Node
node_modules/

# Build output
dist/
release/
out/
temp/

# Vite
.vite/

# Electron
*.log
*.tsbuildinfo

# Archivos temporales de build
package.json.backup
tsconfig.temp.json
src/types/index.ts

# Configuración local
.env
.env.*
.DS_Store

# Supabase
supabase/.temp/
supabase/.env

# IDEs y editores
.vscode/
.idea/
*.swp

# Otros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema
Thumbs.db 